node_modules
dist
coverage
.env
**/.env
apps/api/.env
!.env.example
!**/.env.example
*.log
.DS_Store
.turbo
.nestjs
workspace
*firebase-adminsdk*.json
*-service-account*.json
google-services.json
GoogleService-Info.plist
